.Navbar {
  background-color: rgba(0,0,0,0);
}

.Navbar ol{
  margin: 0 0 0 0;
  list-style-type: none;
  padding: 0;
}

.Navbar {
  display: inline;
}

.Navbar li{
  display: inline;
}

.Navbar button {
  background-color: rgba(0,0,0,0);
  color: rgb(211, 236, 242);
  outline: none;
  text-decoration: none;
  border: 1px solid;
  padding: 2px 2px 2px 2px;
  margin: 0.2rem 5px 0.2rem 0;
}

.Navbar button:hover {
  border: 1px dotted;
  background: #242b5e;
}